# Fundamental Types in python.

1. **int**

In [ ]:
#integer
x=55
type(x)

int

2. **float**

In [ ]:
#float
x=1.33
type(x)

float

3. **string**

In [ ]:
#string
s='Hello World'
#
type(s)

str

4. **boolean**

In [ ]:
#boolean
t=True
f=False
print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

5. **complex**

In [ ]:
#complex
c=12+13j
type(c)

complex

# variables in python

1. **Defining**

In [ ]:
#defining a variable
one=1
name='Darshan K'
print(one) #1
print(name) #Darshan K

1
Darshan K

2. **Dynamic Typing**

In [ ]:
value=2
print(type(value))
value='Hello'
print(type(value))

<class 'int'>
<class 'str'>

3. **Strong Typing**

In [ ]:
#s='Day'+1 #TypeError: can only concatenate str (not "int") to str
#we can use str(1)
s='Day '+str(1) #1 is converted into string
print(s)

Day 1

# Simple expressions

1. Boolean expressions

In [ ]:
True is True

True

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
False or False

False

In [ ]:
print(not False)
not True

True

False

2. **Branching: If Else**

In [ ]:
i=4
if i==4:
  print("Equal")
else:
  print("Not Equal")

Equal

if elif

In [ ]:
i=98
if i==99:
  print("Equal to 99")
elif i<99:
  print("Less Than 99")
else:
  print("Greater than 99")

Less Than 99

Indentation: 4 spaces

In [3]:
a=1
if a!=2:
    print('a =',a)

a = 1

# **Lists**

In [4]:
l=[]#list is mutable
l

[]

In [10]:
l=[1,2,3,4,5]
print(l)
print(type(l))
l.append('a')
l.append('b')
l.append('c')
print(l)
l.insert(0,9999)
l.insert(1,8888)
print(l)

[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5, 'a', 'b', 'c']
[9999, 8888, 1, 2, 3, 4, 5, 'a', 'b', 'c']

**Iterating over a List**

In [12]:
for element in l:
  print(element)

9999
8888
1
2
3
4
5
a
b
c

# **Loops**

1. for Loop

In [16]:
l=[1,2,3,4,5,6]
sum=0
for i in l:
  sum+=i
print("sum is ",sum)

sum is  21

**For loop with else Part.**

In [17]:
l=[1,2,3,4]
for i in l:
  print(i)
else:
  print('No elements left')

1
2
3
4
No elements left

with break statement else part is ignored

In [18]:
l=[1,2,3,4,5,6,7,8]
for i in l:
  if i==5:
    break
  print(i)
else:
  print('No elements left')

1
2
3
4

**while Loop**

In [21]:
#program to add N numbers using While Loop
n=int(input('enter n:'))
sum=0
while n>0:
  sum+=n
  n-=1
print("sum is ", sum)

enter n:5
sum is  15

**range() function**

In [26]:
#generating a sequence of numbers upto a range
#syntax: range(start,stop,step)
range(10)
l=list(range(10))#stop is exclusive
l1=list(range(0,10,2))#with step size 2
print("l= ",l)
print("l1= ",l1)

l=  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l1=  [0, 2, 4, 6, 8]

**iterating using indexing in a list**

In [27]:
#len() function gives the length of an iterable
l=[1,2,3,4]
print("length of list l is ",len(l))
for i in range(len(l)):
  print(l[i])

length of list l is  4
1
2
3
4

**Break and continue statements**

In [29]:
#break
name=input("enter your name ")
for i in range(len(name)):
  if name[i]==" ":
    break
  print(name[i])

enter your name Darshan K
D
a
r
s
h
a
n

In [31]:
#continue
name=input("enter your name ")
for i in range(len(name)):
  if name[i]==" ":
    continue
  print(name[i],end="")

enter your name D a        r   s  h   a    n   .        K .
Darshan.K.

# **User inputs**

In [33]:
#to read a string
s=input("enter your Name ")
print(s)
type(s)

enter your Name Darshan K
Darshan K

str

In [34]:
#to read integers
age=int(input("Enter your Age"))
print("Your age is ",age)
type(age)

Enter your Age20
Your age is  20

int

In [37]:
name="darshan"
print("hi "+name+", you are "+str(age)+" Years old!")

hi darshan, you are 20 Years old!